<div class="block rules-block">
  <div class="container">
    <h4 id="rules">Rules</h4>
    <h5>RP (RolePlay) - gameplay associated with the topical character's actions.</h5>
    <ul>
      <li><a target="_blank" href="http://forum.oplotdayz.ru/index.php?topic=1442.0">Violation rp process</a></li>
      <li>Prohibited uncaused killing players. Killing a player must be justified and the plot or ideological. </li>
      <li>Banned DUP (cloning) items
</li>
      <li>Banned the wearing of "dolls", a subject in the subject (unloading in a backpack in which something else is ... etc.)</li>
      <li><a href="#register">Correct registration</a>  + Citizenship</li>
      <li>If the player was kicked 3 times for any reason, the fourth time -  you’ll get ban</li>
      <li>If you have received a ban is <a href="http://forum.oplotdayz.ru/index.php?board=39.0" target="_blank">the only place</a> where you can get out from ban. Complaints to another section reduces your chances to approximately zero</li>

    </ul>
  </div>
</div>
