<div class="container">
  <div class="block story-block">





    <h4 id="story"> Character</h4>
    <p>
      Create story of you character
    </p>
    <p>
      <b>After registering, you must </b>
      <a class="btn btn-success" target="_blank" href="http://forum.oplotdayz.ru/index.php?board=11.0">Create story of you character</a>
    </p>
    <p>
      Your main goal to reveal the nature of the character, you have to act out the role. What are his goals, what skills he possesses. It is important that it met the requirements of <a href="#lore">the world history of our server</a>
    </p>
    <p>

What's his name, which allowed him to survive the day Z? What are his weaknesses, only a combination of weaknesses and limit creates a vivid image. We need to see it after reading.
    </p>
    <blockquote>
      <small>It is not necessary that it was a great work of art</small>
    </blockquote>
    <h3>
    Next, your application will be considered if you did everything correctly you will get the status of a citizen of and access  <a target="_blank" href="http://forum.oplotdayz.ru/index.php?topic=421.0"> to the partition with password / address of the server</a>
    </h3>

    <div class="text-center">
        <h4 style="color: red;">Caution
</h4>




        <b>The administration </b>does not comment character stories
        <p> You either get a refusal or receive citizenship</p>

    </div>
  </div>
</div>
