<div class="welcome">
  <h2>Welcome to our RP project </h2>

  <div class="embed-responsive embed-responsive-16by9">

      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/MwBBwIIgJtM?rel=0" allowfullscreen></iframe>

    </div>


  <p>To start the game on our server, carefully read all information</p>
</div>

