
.navbar-brand {
    padding: 0; 
    padding-top: 6px;
    padding-left: 10px; 
    paddgin: 5px 10px 0 10px
}

.logo {
    height: 40px
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {

    background-color: none;
}
.navbar-default .navbar-nav>.active>a ,.navbar-default .navbar-nav>.active>a:hover ,.navbar-default .navbar-nav>.active:hover>a {
    background-color: none;
}
.welcome {
    text-align: center;
    margin: 70px 0 50px 0;
    background-size: cover; 
	h2 { 
        margin-top: 2em;
        line-height: 50px;
	    font-size: 33px; 
	}
}

.container {
    max-width: 768px;  
    ul {
        margin-left: 0;
    }
}
.navbar-default .navbar-nav>.active>a {
    background: none;
}
.navbar-toggle {
    color: #b82424;
    &:hover {
        color: #fff;
    }
}

.navbar-default {

    position: fixed;
    top: 0;
    width: 100%;
    li a {
        font-size: 18px;
		padding-top: 12px;
		line-height: 1;
        &:hover {
            color: #fff;
        }
    }
    box-shadow: none;
    border: 0;
    height: 67px;
    background: url(../img/nav.png);
    background-position: 50% 0;
}

body {
    background: #f4f4f4;
    -webkit-font-smoothing: antialiased;
    position: relative;
    background-image: url(../img/pattern.png);
    background-attachment: fixed;
	hr {
	    margin: 40px 0
	}
	article {
	    background: #f4f4f4;
	    padding: 1em 
	}
}
.fff {
    background: #fff;
}
.block {  
	padding: 50px 0;
}
.lore-block, .rules-block,.links-block  {
    background: #fff 
}
.links-block {
    text-align: center;
    font-size: 15px;
    padding: 50px 0;
    background: #fff;
    a {
    	text-align: center;
    	&:hover {
    		text-decoration: none;
    		i {
    			font-size: 56px;
    		}
    	}
    	i {
    		transition: font-size 0.5s ease;
    		font-size: 50px;
    		display: block;
    	}
    	&.vk {
    		color: #4c739a;
    	}
    	&.youtube {
			color: #f60000;
    	}
    	&.teamspeak {
			color: #5c7899;
    	}
    	&.steam {
			color: #171a21;
    	}
    	&.forum {
	    	color: #333;
	    }
   	
    }
    
}

// Extra small screen / phone
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;
 
// Small screen / tablet
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);
@media (min-device-pixel-ratio: 2) {
    body {
        background-image: url(../img/pattern_2x.png);
    }
}
@media (max-width: @screen-xs-max) {
    body {
        background-image: none;
        background-color: #fff;
    }
    .navbar-header ,.navbar ,.navbar-default,.navbar .navbar-default {
        border: none;
    }
    .navbar-collapse .collapse .in{
        border-bottom:0;
    } 
    .navbar-nav {
        margin: 0px 0 0 0;
    }
    .navbar-header {
        height: 67px;
    }
        .nav  {
            float: left;
            width: 100%;

            margin-left: -15px;
            background: #191017;
            li {
                a {
                    color: #fff;

                }
            }
    }
    
    
    .navbar-default {

    position: static;
    top: 0;
    left:0;
    width: 100%;
    border: 0;
    height: 67px;
    background-color: #191017;
    background-image: none;


}
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
}	
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 
}
@media (min-width: @screen-lg-min) { 
}