<div class="block lore-block">
<div class=container>
     <h4 id="lore">Лор</h4>
    <blockquote>
      Лор - это описание мира нашего сервера
    </blockquote>
    <p>
      Действие происходит спустя не более чем неделю после начала катастрофы. Точное количество дней которое потребовалось для начала дняz не известно. Те, кто находились в эпицентре этой неизвестной вспышки бешенства уже не могут сказать нрассказать нам о том как это началось.
    </p>
    <p>
      В течении этой недели начались проблемы со связью. Сначала появилась информация о неизвестном науке бешенстве охватившем некоторых людей, со временем из становилось больше. По телевидению ничего не было сообщено, сигнал просто пропал, только лишь не предвещающий добра белый шум на экране. Вскоре пропало электричество. Четыре дня назад безумие среди населения достигло своего пика. Силы правопорядка не смогли сдержать массу безумных. Вскоре подключившаяся армия Черноруси, была так же подверженная панике и безумию изнутри, вскоре была разбита и деморализована.
    </p>
    <p>
      Люди пытались бежать из страны кто как мог. Была ли организована эвакуация? Мы не знаем, надеемся что была и наши родные успели избежать горькой участи.
    </p>
    <p>
      <i> Кто мы? Мы выжившие Черноруси, мы выжили потому что вовремя укрылись от обезумевшей толпы. Инстинкт самосохранения остановил одних от необдуманных поступков, а другим дал сил бежать без оглядки. Кто то из нас бежал из городов, как только почуял неладное, кто-то смог забаррикадировался в здании, кто-то по счастливой случайности не находился в людных местах. Сейчас часть из нас благодарит судьбу, давшую нам шанс, другая часть проклинает свой рок и те испытания которые предстоит пройти для выживания. Для одних это шанс прожить чуть дольше остальных, для других это шанс изменить свою судьбу. Кому-то же из нас ситуация пришлась по душе, из беспорядков и беззакония появились те, кто ждал когда им развяжут руки. </i><br>Мы выжили и теперь когда огни пожаров потухли, взрывы, стрельба и крики стихли, мы выходим из своих укрытий.
    </p>

    <h5>Основная информация:</h5>
    <ul style="unstyled">
      <li>
        <b>Прошло около недели</b> с начала первых очагов безумия. На третий день пропали электричество и средства коммуникации.
      </li>
      <li>
        <b>Последние четыре</b>  дня силы армии и правопорядка пытались устранить очаги безумия. Армия была дезориентирована без связи. Регулярные войска были перемолоты в попытках сдержать периметр.
      </li>
      <li>
        <b>Ничего не известно об эвакуации.</b> Даже если она была, счастливчики либо отдыхают за границей, либо тела их тлеют среди обломков самолета.
      </li>
      <li>
        <b>Никакой связи со внешним миром нет,</b> как и сотовой и радиосвязи внутри региона. Только белый шум.
      </li>
      <li>
        <b>Никто из выживших не прилетал/приезжал</b>  в Чернорусь с самого начала катастрофы и по сей день.
      </li>
      <li>
        <b>Никто из выживших не видел очага безумия,</b>  все кому не повезло наблюдать первые вспышки в городах и крупных населенных пунктах - погибли.
      </li>
      <li>
        <b>Никто из выживших не видел как солдаты расстреливают </b>толпы гражданских, вероятнее всего те кто это наблюдал были частью расстрелянной обезумевшей толпы.
Об этом можно только предполагать по крикам и выстрелам которые вы могли слышать из укромного убежища давшего вам шанс выжить.
      </li>
      <li>
        <b>Никто из выживших не видел как кто-либо превращается в безумца,</b > как и вообще примеров передачи «инфекции».
      </li>
      <li>
        Никто из выживших не участвовал в нейтрализации катастрофы напрямую.
      </li>
      <li>
        Транспорт отсутствует, тот что был на ходу - уехал, остался только тот что не способен к функционированию.
      </li>
      <li>
        Никто не выжил при падении вертолета, самолета, корабля.
      </li>
      <li>
        Выжили только те кто вовремя спрятался, укрылся или кому повезло не находиться в людных местах.
      </li>
    </ul>
  </div>
</div>
