<nav class="navbar navbar-default" role="navigation" style="z-index: 9999">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="img/logo.png" class="logo img-responsive" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li><a href="#register">Регистрация</a></li>
        <li><a href="#lore">Лор</a></li>
        <li><a href="#story">Квента</a></li>
        <li><a href="#rules">Правила</a></li>
        <li><a href="#help">Помощь проекту</a></li>
      </ul>
      </div>
    </div>
</nav>
