 <div class="block register-block">
  <h4 id="register">Регистрация</h4>
  <p>
   <a class="btn btn-success" target="_blank" href="http://forum.oplotdayz.ru/index.php?action=register">Регистрируемся у нас на форуме</a>
  </p>
  <blockquote>
    <small>Вы регистрируетесь с помощью steam. МЫ НЕ ПОЛУЧАЕМ ВАШ ПАРОЛЬ от steam!</small>
  </blockquote>
  <p>
    <img class="img-responsive img-thumbnail" src="img/reg.png" alt="">
  </p>
  <hr>
  <p>
    Если вы уже зарегистрированы вам необходимо указать <b>steamid</b> </p>
  <p>
    <a class="btn btn-success" href="http://steam.oplotdayz.ru" target="_blank">Узнаем его здесь</a>
  </p>
  <p>
    <a class="btn btn-success" target="_blank" href="http://forum.oplotdayz.ru/index.php?action=profile;area=forumprofile">Вставляем его сюда </a>
  </p>
  <img class="img-responsive img-thumbnail" src="img/steamid.png" alt="">

  <h6>Имя</h6>
  <p>
    Ваше игровое имя должно совпадать с <a target="_blank" href="http://forum.oplotdayz.ru/index.php?action=profile;area=account">указаным на форуме</a>
  </p>
  <p>
    <img src="img/nick.png" class="img img-thumbnail" alt="">
  </p>
  <blockquote>
    Пример:<br>
    <b>Ник:</b> Falcon<br>
    <b>Имя на форуме: </b> Falcon<br>
    <b>Имя в игре: </b>Falcon
    <small>Длина ника от 4 символов, только латиница без спец символов.</small>
  </blockquote>
</div>
