<!DOCTYPE html>
<html>
  <head>
    <link href="css/app.min.css" rel="stylesheet">
    <script src="js/app.min.js"></script>
    <title>Oplot dayz roleplay server</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Oplot dayz roleplay server">
    <meta name="keywords" content="Oplot,dayz,roleplay server">
</head>
<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1" >
  {% include 'en/_nav.html' %}
  <div class="container fff" >
    {% include 'en/_welcome.html' %}
    {% include 'en/_reg.html' %}

  {% include 'en/_lore.html' %}
  {% include 'en/_story.html' %}
  {% include 'en/_rules.html' %}
  {% include 'en/_help.html' %}
  {% include 'en/_links.html' %}
    </div>
    <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter27193547 = new Ya.Metrika({ id:27193547 }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script>
</body>
</html>
